@{
    Layout = Layout; // this is so that this page can get the deault layout
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Please eat more pineapples. Especially the ones from Hawaii!
    </div>
</body>
</html>
